* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}
header{    
    background-color: rgba(255, 218, 224, .4);  
    padding: 0 80px;  
}
.container{
    width: 100%;
    height: auto;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.container-title{
    max-width: 400px;
}
.cover-title{
    font-size: 48px;
    margin-bottom: 20px;
}
.discussion{
    font-size: 18px;
    color: #778899;
    margin-bottom: 20px;
}
.common-btn{
    background-color: palevioletred;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
}
.common-btn:hover{
    background-color: rgb(241, 85, 137);
    font-weight: 700;
}
.cover-image img{
    width: 400px;
    height: 100%;
}

/* main-section */
.section-description{
    text-align: center;
    margin: 50px 0;
}
.section-title{
    font-size: 2rem;
    padding: 10px;
    font-weight: 700;
}

.image-container{
    display: flex; 
    padding: 0 80px; 
    justify-content: space-between;  
}

.items img{
    width: auto;
    height: 400px;
    border-radius: 45% 45% 0% 0%;
}
.items p{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: underline;
}

/* help-section */
.help-section{
    background-color: rgba(255, 218, 224, .4); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    gap: 50px;
    margin: 50px 0;
}
.help-section img{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.sticker p{
    text-align: center;
}

/* offer-section */
.offer-items{
    height: 500px;
    width: auto;
    background-color: rgba(255, 218, 224, .4);   
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.offer-discussion{
    text-align: center;
}
.discount img{
    height: 450px;
    width: auto;
}
.section-title span{
    color: rgb(241, 85, 137);
}
.social-media{
    margin: 50px 0;
    text-align: center;
    padding: 0 80px;
}
.social-container{
    min-width: 932px;
    display: flex;
    gap: 20px;
}

.social-image img{
    height: 400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.action-container{
    padding: 0 80px;    
    width: auto;
    height: 450px;
    margin: 50px;
}
.back-image{
    background-image: url(image/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    padding: 130px 0;
}
.act-form{
    padding: 12px 20px;
    max-width: 600px;
    border: none;
    border-radius: 10px;
    outline: none;
}